In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(r'C:\Users\77479\OneDrive\Documents\Data.csv')

In [7]:
df

             date                               user_id  view_adverts
0      2023-11-11  8c020470-8461-11ed-83d0-552e8cc749d6            13
1      2023-11-18  5875f070-7b92-11ee-a6fb-8b298e83f4f7            14
2      2023-11-29  3c2d27c0-4fd6-11eb-b89f-2ffb31b67dd6            21
3      2023-11-29  234a96d0-ad16-11ed-a2e6-793ddfeeba1f            23
4      2023-11-29  4d07c180-644f-11eb-879c-b7c02edf4f37            12
...           ...                                   ...           ...
16809  2023-11-17  39df47d0-67e5-11ee-8fb4-6fca0b38dcdb             9
16810  2023-11-05  211ecf40-52f0-11ee-8000-aff5e9624248             9
16811  2023-11-16  ae274910-82d1-11ee-b2b8-1d1441fa3755             9
16812  2023-11-13  7b3d2810-e585-11ed-a524-d983167b6653             9
16813  2023-11-15  954bc9b0-5e75-11ed-b1a2-e10d23811e40             9

[16814 rows x 3 columns]

In [8]:
df.user_id.nunique()

7639

In [11]:
dau = df.groupby('date')['user_id'].nunique()

In [18]:
sum(dau.values)/len(dau.index)

560.4666666666667

In [32]:
nov1 = df.query('date=="2023-11-01"')['user_id'].unique()

In [34]:
len(nov1)

623

In [35]:
nov2 = df.query('date=="2023-11-02"')['user_id'].unique()

In [36]:
len(nov2)

649

In [37]:
import numpy as np

In [39]:
retention = np.intersect1d(nov1, nov2)

In [41]:
len(retention)/len(nov1)

0.2664526484751204

In [50]:
df.query('view_adverts!=0')['user_id'].nunique()/df['user_id'].nunique()

0.4631496269145176

In [53]:
df['view_adverts'].sum()/df['user_id'].nunique()

2.8687000916350307

In [54]:
1200/2000 - 500/2000

0.35

In [55]:
Experiments = pd.read_csv(r'C:\Users\77479\OneDrive\Documents\Data2.csv')

In [56]:
Experiments

      experiment_num experiment_group   user_id  revenue
0                  1             test     38456      520
1                  1          control  13125924      806
2                  1          control   9761984        0
3                  1             test  11387012      208
4                  1             test  18319648      104
...              ...              ...       ...      ...
2830               3             test    725230        0
2831               3             test  15219649        0
2832               3             test  18648281        0
2833               3             test    244892        0
2834               3             test  22028764    13011

[2835 rows x 4 columns]

In [61]:
import scipy

In [69]:
exp2_test = Experiments.query('experiment_num==3 and experiment_group=="test"')['revenue']

In [70]:
exp2_control = Experiments.query('experiment_num==3 and experiment_group=="control"')['revenue']

In [71]:
scipy.stats.ttest_ind(exp2_test, exp2_control, equal_var='False')

TtestResult(statistic=1.8703638838987622, pvalue=0.06174290011218765, df=943.0)

In [ ]:
listers = pd.read_csv(r'C:\Users\77479\OneDrive\Documents\Data3.csv')

In [78]:
import numpy as np

In [79]:
np.mean(listers.groupby('user_id')['revenue'].sum().values)

156.48387096774192

In [80]:
listers

     user_id        date  cnt_adverts  age  cnt_contacts  revenue
0        100  2022-01-01            6   21           119       53
1        100  2022-01-02            2   21           200       18
2        100  2022-01-03            6   21           193       42
3        100  2022-01-04            2   21           143       38
4        100  2022-01-05            2   21           190       40
..       ...         ...          ...  ...           ...      ...
153      130  2022-01-27            1   22           185       60
154      130  2022-01-19            0   22            86       41
155      130  2022-01-28            0   22           183        5
156      130  2022-01-30            0   22            86       12
157      130  2022-01-13            2   22            97       27

[158 rows x 6 columns]

In [82]:
np.median(listers.groupby('user_id')['age'].first())

28.0

In [88]:
listers['age'].corr(listers['cnt_contacts'])

-0.0701029547333032

: