First I import data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('202303_Task1_Sessions.csv', delimiter=',')

In [3]:
data.head()

  ymd,session_id,tracking_id,platform,is_app,is_repeater,traffic_type,country_name,agent_id,clickouts,bookings,session_duration,entry_page,total_ctp,arrival_day,departure_day
0  20220626,2022062620046057322,FA6JXA8TAJ,UK,0,1...
1  20220518,2022051821943006017,0X7RLU6KF7,BR,0,0...
2  20220508,2022050821020053928,0I59VWLQW0,UK,0,0...
3  20220507,2022050706015039122,JXNHOBQL50,CH,0,0...
4  20220523,2022052320052048087,W24I0V5Z2L,IT,0,0...

Data didn't import correctly, so I'll adjust it

In [26]:
df = data[data.columns[0]].str.split(',', expand=True)
df = df.loc[:, :15]
df.columns = data.columns.str.split(',')[0]

In [27]:
df.head()

,ymd,session_id,tracking_id,platform,is_app,is_repeater,traffic_type,country_name,agent_id,clickouts,bookings,session_duration,entry_page,total_ctp,arrival_day,departure_day
0,20220626,2022062620046057322,FA6JXA8TAJ,UK,0,1,2,United Kingdom,16,0,0,29,2111,0,\N,\N
1,20220518,2022051821943006017,0X7RLU6KF7,BR,0,0,2,Brazil,2,3,0,1485,2100,27,20220530,20220531
2,20220508,2022050821020053928,0I59VWLQW0,UK,0,0,2,United Kingdom,20,0,0,143,2100,0,\N,\N
3,20220507,2022050706015039122,JXNHOBQL50,CH,0,0,2,Switzerland,28,0,0,69,2100,0,\N,\N
4,20220523,2022052320052048087,W24I0V5Z2L,IT,0,0,2,Italy,20,6,0,887,2100,100,20220609,20220610